* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdfd96;
}

.container {
    user-select: none;
}

.container .time {    
    height: 100px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 09);
}

.container .time span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.time span.separador {
    width: 10px;
}

.time span.ms-separador,
.time span.milisegundos {
    color: #fdfd96
}

.container .buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #fdfd96;
    background: #333;
    font-size: 19px;
    font-weight: 4px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 09);
}

.buttons button:hover {
    background: #fdfd96;
    color: #333;

}

.buttons button.active,
.buttons button.stopActive {
    pointer-events: none;
    opacity: .7;
}