body {
    background: #000;
    color: #6a1b96;
    font-family: "Courier Prime", monospace;
}

main {
    width: 800px;
    margin: 45px auto;
    display: flex;
    align-items: center;
}

.section1 {
    background-color: black;
    border: 2px solid #6a1b96;
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
    background-image: url(img/back.png);
    background-size: cover;
    background-position: center;
    border: 1px solid #6a1b96;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
    background-image: url(img/back-hover.png);
    background-size: cover;
    background-position: center;
}

.section2 {
    width: 250px;
    height: 400px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
}

#aciertos,
#movimientos {
    height: 65px;
    width: 240px;
    border-radius: 8px;
    padding: 8px 15px;
    border: 1px solid #6a1b96;
}

#tiempo {
    width: 249px;
    height: 105px;
    border-radius: 8px;
    padding: 8px 15px;
    border: 1px solid #6a1b96;
}

img {
    width: 80%;
}

#reiniciar {
    width: 200px;
    height: 50px;
    margin-left: 25px;
    color: black;
    background: #6a1b96;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Courier Prime", monospace;
  }
 
  #reiniciar:hover {
    cursor: pointer;
    background: #fff;
    color: #6a1b96;
    border: 2px solid #6a1b96;   
  }